*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){
        padding: 0;
    }
}
html{
    font-size: 62.5%; /* 1rem = 62.5% of 16px = 10px (root size) */

    @include respond(tab-land){
        font-size: 56.25%; //1rem = 56.25% of 16px = 9px
    }

    @include respond(tab-port){
        font-size: 50%;  //1rem = 50% of 16px = 8px 
    }


    @include respond(big-desktop){
        font-size: 75%; //1rem = 75% of 16 = 12px
    }

    ::selection{
        background-color: $color-primary;
        color: $color-white;
    }

}   